* {
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

#panel {
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
}

#ptop {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    width: 100%;
    height: 100px;
    background-color: rgb(6 199 199);
}

.elem h2 {
    font-weight: 500;
    font-size: 22px;
}

.elem {
    display: flex;
    align-items: center;
    gap: 20px;
}

.box {
    color: #4f848c;
    font-weight: 600;
    font-size: 22px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}

#pbtm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 9px 24px;
    width: 100%;
    height: calc(100% - 100px);
}

.bubble {
    width: 60px;
    height: 60px;
    background-color: #209a9a;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble:hover {
    cursor: pointer;
    background-color: #0a7d7d;
}